@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  margin: 0;
}

/* Navbar */
nav {
  height: 45px;
  background: #313131;
}

nav ul {
  display: flex;
  height: 45px;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
}

nav li {
  display: block;
  color: white;
  font-size: 15px;
  font-weight: lighter;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}

nav li:hover {
  opacity: 0.65;
}

.navbar {
  max-width: 1050px;
  margin: 0 auto;
}

.fab {
  font-size: 1.3rem;
}

/* Single Card */
.card-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-contain {
  background-color: #fafafa;
  color: #111111;
  cursor: pointer;
  margin-bottom: 12px;
}

.card-main {
  text-align: center;
  padding-top: 40px;
  background-color: #fafafa;
}

.card-title {
  margin: 0;
  font-weight: 500;
  font-size: 2.75rem;
}

.card-text {
  margin: 0;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.4;
  max-width: 600px;
  margin: auto;
}

.btn-card {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  border: none;
  background: none;
  color: #3070c9;
  margin-top: 15px;
  cursor: pointer;
}

.btn-card:focus {
  outline: none;
}

.btn-card-text:hover {
  text-decoration: underline;
}

#card-special {
  font-size: 1.5rem;
  border: 3px solid black;
  border-radius: 10px;
  text-align: center;
}
